<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar color="primary">Hunted</mat-toolbar>
    <mat-nav-list>
      <a *ngIf="this.authService.isLoggedIn" mat-list-item [routerLink]="['/setup']"><mat-icon>settings</mat-icon><span>Configuratie</span></a>
      <a *ngIf="this.authService.isLoggedIn" mat-list-item [routerLink]="['/game']"><mat-icon>gamepad</mat-icon><span>Spel</span></a>
      <a *ngIf="this.authService.isLoggedIn" mat-list-item [routerLink]="['/help']"><mat-icon>help</mat-icon><span>Uitleg</span></a>
      <a *ngIf="this.authService.isLoggedIn" mat-list-item href="" (click)="logout()"><mat-icon>account_circle</mat-icon><span>Log uit</span></a>
      <a *ngIf="!this.authService.isLoggedIn" mat-list-item [routerLink]="['/login']"><mat-icon>account_circle</mat-icon><span>Log in</span></a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span></span>
    </mat-toolbar>
    <div class="wrapper">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
