
<div *ngIf="gameStatus == 'not started'">
  <h2>Spel starten</h2>
  <form class="example-form" #locationData="ngForm" (ngSubmit)="onClickSubmit()" >
    <mat-form-field class="example-full-width" appearance="standard">
      <mat-label>Eindtijd</mat-label>
      <!-- <input matInput [(ngModel)]="time.end_time" name="end_time" placeholder="2021-04-20T16:20:00.336Z"> -->
      <input matInput type="datetime-local" [(ngModel)]="time.end_time" name="end_time" placeholder="end date">
    </mat-form-field>
    <br/>
    <button mat-raised-button color="primary" type="submit" color="primary" [routerLink]="['']">Spel starten</button>
 </form>
</div>

<div *ngIf="gameStatus == 'in progress'">
  <h2>Spel is bezig!</h2>
  <button  mat-raised-button color="primary" type="submit" color="primary" (click)="endGame()" [routerLink]="['']">Spel beëindigen</button>
</div>

<div *ngIf="gameStatus == 'stopped'">
  <h2>Het spel is afgelopen! Herstarten?</h2>
  <button  mat-raised-button color="primary" type="submit" color="primary" (click)="restartGame()" [routerLink]="['']">Herstart spel</button>
</div>

