/* You can add global styles to this file, and also import other style files */

@import "~normalize.css/normalize.css";
@import '../node_modules/@geoman-io/leaflet-geoman-free/dist/leaflet-geoman.css';

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
  }


  .mat-h4 {
    margin: 10px 0 0 0;
    color: green;
  }